###############################################################################
### CYBERSOURCE ENVIRONMENT DEPENDANT SETTINGS ################################
###############################################################################

# These properties need to be changed based on the EBC account that will be used in the environment 

# 
# Merchant id account obtained from CyberSource
#
single.ttCybersourceCisPaymentService.merchantId={{ hybris_single_ttCybersourceCisPaymentService_merchantId }}

# 
# Transaction Security Key for the SOAP Toolkit API, generated in CyberSource Business center, 
# Account Management -> Transaction Security Keys
#
single.ttCybersourceCisPaymentService.transactionKey={{ hybris_single_ttCybersourceCisPaymentService_transactionKey }}

###############################################################################
### PROJECT SETTINGS - NON ENVIRONMENT DEPENDANT ##############################
###############################################################################

single.vendor=ttCybersourceCisPaymentService

single.ttCybersourceCisPaymentService.noShippingFlag=1

serviceprovider.implementation=properties

cis.cybersource.webservice.uri={{ hybris_cis_cybersource_webservice_uri }}

cis.cybersource.payment.service.hpf.path={{ hybris_cis_cybersource_payment_service_hpf_path }}

cis.web.ws.baseuri=http://localhost:8080/hybris-cis-cybersource-payment-web/psp

