# @highlight
cis.cybersource.webservice.uri={{ hybris_cis_cybersource_webservice_uri }}

# For mock implementation put "mockCyberSourceClient" (default defaultCyberSourceClient)
cis.cybersource.mock.bean=defaultCyberSourceClient

# Cybersource payment mock params
# payment: /mock/cybersourcePaymentMockResponse.xml
# avs    : /mock/cybersourceAvsMockResponse.xml
# fraud  : /mock/cybersourceFraudMockResponse.xml
cis.cybersource.mock.responseXml=null
cis.cybersource.mock.thinkTimeMs=0
