single.vendor=ttCybersourceCisPaymentService
single.ttCybersourceCisPaymentService.merchantId={{ hybris_single_ttCybersourceCisPaymentService_merchantId }}
single.ttCybersourceCisPaymentService.transactionKey={{ hybris_single_ttCybersourceCisPaymentService_transactionKey }}
single.ttCybersourceCisPaymentService.noShippingFlag=1
