#This file overwrites the default.properties, if set system property HYBRIS_ENV to production
cis.cybersource.payment.service.hpf.path={{ hybris_cis_cybersource_payment_service_hpf_path }}
cis.cybersource.payment.service.paypal.redirect.path=https://www.paypal.com/cgibin/webscr?cmd=_express-checkout&token=